*.pyc
*.swp
*.swo
*.db
.coverage
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.Python
.settings
.tmp*
bin
develop-eggs
eggs
include
labgeeks.wsgi
labgeeksrpg
lib
local
local_settings.py
src
uploads
template_overrides/*
