[buildout]
parts = labgeeks
versions = versions
sources = sources
eggs = 
    labgeeks-chronos
    labgeeks-delphi
    labgeeks-hermes
    labgeeks-horae
    labgeeks-iPromote
    labgeeks-people
    labgeeks-pythia
    labgeeks-sybil
extensions = mr.developer
auto-checkout = *

[versions]
django = 1.4

[sources]
labgeeks-chronos = git git://github.com/abztrakt/labgeeks-chronos.git
labgeeks-delphi = git git://github.com/abztrakt/labgeeks-delphi.git
labgeeks-hermes = git git://github.com/abztrakt/labgeeks-hermes.git
labgeeks-horae = git git://github.com/abztrakt/labgeeks-horae.git
labgeeks-iPromote = git git://github.com/abztrakt/labgeeks-iPromote.git
labgeeks-people = git git://github.com/abztrakt/labgeeks-people.git
labgeeks-pythia = git git://github.com/abztrakt/labgeeks-pythia.git
labgeeks-sybil = git git://github.com/abztrakt/labgeeks-sybil.git

[labgeeks]
recipe = djangorecipe
project = labgeeks
settings = settings
eggs = ${buildout:eggs}
