<div id="footer">
    <div class="container">
        <div class='row'>
            <div class='footer_column_outer col-md-2'>
                <h2>//Contact Numbers</h2>
                <dl>
                    <dt>IT Support:</dt>
                    <dd>123-456-7890</dd>
                </dl>
            </div>
            <div class='footer_column_outer col-md-2'>
                <h2>//Quick Links</h2>
                <ul>
                    <li><a href="#">Link1</a></li>
                    <li><a href="#">Link2</a></li>
                    <li><a href="#">Link3</a></li>
                </ul>
            </div>
            <div class='footer_column_outer col-md-2'>
                <h2>//Email Info</h2>
                <dl>
                    <dt>IT Support</dt>
                    <dd><a href="#">it@email.com</a></dd>
                </dl>
            </div>
            <div class='footer_column_outer col-md-2'>
                <h2>//Customize</h2>
                <p>If you want to customize your own footer, add a line in TEMPLATE_DIRS in local_settings.py 
                that points to where you want your server to look for the template. For example, I put
                another footer.html in a new folder I created in templates/ called internal/. Therefore, I will
                add the line "path/to/directory/.../templates/internal" in TEMPLATE_DIRS before the other paths
                so that this footer.html will come first.</p>
            </div>
        </div>
    </div>
</div>
