{% load labgeeksrpg_extras %}
<script type="text/javascript">
$(document).ready(function() {
    $('ul.nav').children('li').each(function() {
        var root = $(this).children('a').attr('href');
        var pathname = window.location.pathname;
        if (pathname == '/' && root == '/') {
            $(this).addClass('active');
        } else if (pathname == '/chronos/' && root == '/chronos/') {
            $(this).addClass('active');
        } else if (pathname.indexOf('/chronos/report/') > -1 && root == '/chronos/report/') {
            $(this).addClass('active');
        } else if (pathname.indexOf(root) > -1 && root != '/' && root != '/chronos/') {
            $(this).addClass('active');
        }
    });
});
</script>


<div id="lg_banner">
    <h1><!--<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> -->Labgeeks</h1>
</div>
<header role="banner">
    <nav role="navigation" class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            {% if request.user.is_authenticated %}
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/chronos/">Punchclock</a></li>
                    {% if request.user.is_staff %}
                        <li><a href="/schedule/">Schedule</a></li>
                        <li><a href="/chronos/report/">Report</a></li>
                    {% endif %}
                    <li><a href="/people/">People</a></li>
                    {% if perms.badger.view_badge %}
                        <li><a href="/badger/">Badger</a></li>
                    {% endif %}
                    <li><a href="/tools/">Tools</a></li>
                    <li><a href="/pages/">Docs</a></li>
                </ul>
                {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ request.user }}@uw.edu <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/people/{{ request.user }}">Profile</a></li>
                            {% if request.user.is_staff %}
                                <li><a href="/chronos/report">Report</a></li>
                                <li><a href="/admin">Administration</a></li>
                            {% endif %}
                            <li class="divider"></li>
                            <li><a href="/logout">Sign Out</a></li>
                        </ul>
                    </li>
                    {% else %}
                        <li><a href="/login">Sign In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
